<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="171718">
    <h1 align="center"><pre><font color="white" align="center"> O'rgimchak odam uydan uzoqda </pre> </h1>
        <td bgcolor="000000"><pre><img src="1170277.jpg" width="250px" height="150px">  </pre></td>
        <h4> Premyera bo'lgan yili: 2022 yil 6-aprel </h4>
        <h5> Download </h5>
        <h6><a href="yuklash.html"> 480 px  |  720 px  |  1080 px  | 4k   </a></h6>
</body>
</html>