<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Kino reklama </title>`
</head>
<body bgcolor="171718">
<h1 align="center"><font color="white"><marquee width="70%">  Bizning saytdagi top kinolar bilan tanishing </marquee></font> </h1>
<h2><pre><font color="white">   <a href="download.html"> Muzdan sakrash</a>  <>   O'rgimchak odam uydan uzoqda  <> Qasoskorlar   <>       Venom   </font></pre></h2>
<table>

<tr>
<td bgcolor="111111"><pre>     <a href="#"><img src="muzdan_sakrash.jpg" alt="Rasm chiqmayapti negadir" width="170px" height="150"> </a>           <img src="1170277.jpg" width="250px" height="150px">         <img src="18241824.jpg" width="120px" height="150px">            <img src="venom.jpg" width="150px" height="150px"></pre></td>
</table>
<hr align="center">
<h2><pre> <font color="white">    Poygachi 1     <>        Qirol sher     <>      O'rgimchak odam  <>  Kapitan amaerika 4   </font></pre></h2>
<table>
<td bgcolor="000000"><pre>   <img src="poygachi 1.jpg" width="170px" height="150">           <img src="qirol_sher.jpg" width="200px" height="150px">               <img src="orgimchak.jpg" width="150px" height="150px">            <img src="453112.jpg" width="200px" height="150px"></pre></td>

</table>
<hr>
<br>
<br> <a href="#top"> ^ Tepaga ^ </a>

</body>
</html>